/*
* @Author: Marte
* @Date:   2018-12-19 18:16:07
* @Last Modified by:   Marte
* @Last Modified time: 2018-12-27 16:16:49
*/
/*
轮播  组件
 */
.container-wrap img {
    width: 100%;
}
.swiper-containerd{
    position:relative;
    height:100%;
}
.lunbo{
    height:10.16rem;
    background:#000;
    overflow:hidden;

}
.swiper-wrapper .swiper-slide{
    width:100%;
    height:100%;
}
.swiper-wrapper .swiper-slide a{
    width:100%;
    height:100%;
    position:relative;
}

.swiper-slide .lunbo-title{
    position:absolute;
    width:100%;
    top:1.53rem;
    font-size:24px ;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height:.4rem;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left:50%;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.swiper-slide .lunbo-des{
    position:absolute;
    top:2.3rem;
    font-size:12px ;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height:.4rem;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    left:50%;
    width:100%;
     -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}
.swiper-container {
      width: 100%;
      height: 100%;
    }
.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

/*
轮播的小点
 */
.swiper-pagination span{
    width:0.24rem;
    height:0.24rem;
    display: inline-block;
    border-radius: 100%;
    background: #666666;
    margin-bottom:.30rem;
    opacity:1;
}

.swiper-pagination-bullet-active{
    background:#E0E0E0 !important;
}

/*
轮播上的定位图片
 */
.swiper-slide .bt-img{
    position:absolute;
    top:2rem;
    left:50%;
    width:4.8rem;
    height:1.09rem;
    -webkit-transform: translateX(-50%);
       -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
         -o-transform: translateX(-50%);
            transform: translateX(-50%);
}